<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.0" package="tryme1.NightOwl" android:installLocation="auto" android:versionCode="1">
	<uses-sdk android:minSdkVersion="20" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
	<uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
	<application android:label="tryme1.Android" android:icon="@drawable/bird"></application>
</manifest>